# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv
venv/
instance/
.pytest_cache/

# Node
node_modules/
dist/
build/
.npm/

# Editor
.vscode/
.idea/
.DS_Store
backend/.env
backend/.env
jovia_model/
jovia-finetune/outputs/
jovia-finetune/jovia_model/
jovia_model/
joviaenv311/
joviaenv311/
