.result-container {
  background-color: #1a1a1a; /* Dark background for contrast */
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.result-title {
  font-family: 'Instrument Serif', serif;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff; /* White title for contrast */
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

button {
  background-color: #4299e1;
  color: white;
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button.active {
  background-color: #2b6cb0; /* Active tab color */
  font-weight: bold;
  transform: scale(1.05); /* Active tab scale */
}

button:hover {
  background-color: #2b6cb0;
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Hover shadow */
}

.tab-content {
  padding: 20px;
  background-color: #2d2d2d; /* Koyu gri arka plan */
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.tab-content h4 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.tab-content p {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

.highlight {
  font-weight: bold;
}

button {
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

/* Custom card styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 180px;
  height: 240px;
  background: linear-gradient(135deg, #ff7d00, #ff6c96, #ffbd3e);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

.card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.card-subtext {
  position: absolute;
  bottom: 5px;
  color: #eee;
  font-size: 14px;
  text-align: center;
}

